<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>jygl</display-name>
  <servlet>
    <servlet-name>LoginServet</servlet-name>
    <servlet-class>com.hbsi.controller.LoginServet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServet</servlet-name>
    <url-pattern>/test5</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SuccessServlet</servlet-name>
    <servlet-class>com.hbsi.controller.SuccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuccessServlet</servlet-name>
    <url-pattern>/success</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ErrorServlet</servlet-name>
    <servlet-class>com.hbsi.controller.ErrorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorServlet</servlet-name>
    <url-pattern>/error</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.hbsi.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentManageServlet</servlet-name>
    <servlet-class>com.hbsi.controller.StudentManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentManageServlet</servlet-name>
    <url-pattern>/studentManage</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.hbsi.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>UserManageServlet</servlet-name>
    <servlet-class>com.hbsi.controller.UserManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManageServlet</servlet-name>
    <url-pattern>/userManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateImageServlet</servlet-name>
    <servlet-class>com.hbsi.util.CreateImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateImageServlet</servlet-name>
    <url-pattern>/createImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckCodeServlet</servlet-name>
    <servlet-class>com.hbsi.util.CheckCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckCodeServlet</servlet-name>
    <url-pattern>/checkCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CompanyManageServlet</servlet-name>
    <servlet-class>com.hbsi.controller.CompanyManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyManageServlet</servlet-name>
    <url-pattern>/companyManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MessageManageServlet</servlet-name>
    <servlet-class>com.hbsi.controller.MessageManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageManageServlet</servlet-name>
    <url-pattern>/messageManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RecruitManageServlet</servlet-name>
    <servlet-class>com.hbsi.controller.RecruitManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecruitManageServlet</servlet-name>
    <url-pattern>/recruitManage</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>ResumeManageServlet</servlet-name>
    <servlet-class>com.hbsi.controller.ResumeManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResumeManageServlet</servlet-name>
    <url-pattern>/resumeManage</url-pattern>
  </servlet-mapping>
</web-app>